In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/cefr_leveled_texts.csv')

In [6]:
df.head()

                                                text label
0  Hi!\nI've been meaning to write for ages and f...    B2
1  ﻿It was not so much how hard people found the ...    B2
2  Keith recently came back from a trip to Chicag...    B2
3  The Griffith Observatory is a planetarium, and...    B2
4  -LRB- The Hollywood Reporter -RRB- It's offici...    B2